@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/* mobil first */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid rgb(0, 255, 200); */
    margin: 15px;
    width:100vw;
    height: 100vh;
    overflow-x: hidden;  
    font-size: 1rem;
    font-family: "Open Sans",sans-serif;
    font-weight: 100;
    color: black;
    /* background-color: yellow; */
}

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    display: flex; 
    justify-content: space-between;  
    /* border: 1px solid rgb(236, 12, 12); */
    height: auto;
    width:95vw;
}
.header__left{
    /*border:2px solid black;*/
    width:25vw;
    display: flex;
    flex-direction: column;

}
.btn__main__mode{
    margin-right:25px;
    margin-top:25px;
    margin-bottom:25px;
    height:fit-content;
    border-radius: 25px;
}

.header__right{
    /*border:2px solid black;*/
    padding-top:10px;
    width:75vw;
}
.header__right__search{
    margin-left:5px;
}

.logo__aeag{
    /*width: 125px;
    height: 81px;*/
    width: inherit;
    height:inherit;
    cursor: pointer;
}

.logo__aeag:active{
    transform :scale(1.1)
}

.header__right__menu__detail__haut{
    /*border:20px solid rgb(219, 17, 17);*/
    width:95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fa-circle-half-stroke{ /* logo contrast*/
    width:22px;
    height:22px;
    color:#eb595b;
}
.logo__search{
    width:22px;
    height:22px;
    background-color:white;
}
.fa-bars{ /* logo menu*/
    width:25px;
    height:25px;
    color:#eb595b;
}



.navigation__menu__haut{
    display:none;
}
.header__right__primary__menu{
    display:none;
}
.header__right__menu__detail__bas{
    display:none;
}



/* --- ---- >> main ------------------ */

/* ---  part1 Slider Accueil */
main{
    width:95%;
}
.slider__accueil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    /* border:6px solid green; */
    background:#4d64b3;
}

.container__slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    padding:0px;
    margin: 0px;
    width:80%;    
}
.image__slider__accueil{   
    width: 18.375rem;
    height: 15.9375rem;
    margin-left: 15px;
    margin-right: 15px;
}
.container__slider__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 350px;
}

.container__slider__info p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #fff;
    font-family: "NeuePlak-Bold",sans-serif;
    font-weight: 700;
}
.surtitre{
    font-size: .75rem;
    margin-top:15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
}
.surtitre_black{
    color: #000;
    margin-top : 15px;
    font-size: .75rem;
    letter-spacing: .225rem;
    line-height: 1.875rem;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.container__slider__info a {
    margin-bottom: 1rem;
    display: block;
    margin-top: 1rem;
    color: #fff;
    text-decoration: underline;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    }
.dot{
    display: inline-block;
    border-radius: 50%;
    width:10px;
    height: 10px;
    background-color: #bbb;
}
.dot_selected{
    display: inline-block;
    border-radius: 50%;
    width:10px;
    height: 10px;
    background-color:#eb595b;
}

/* ---  part2  Actualités */

/*.h2__titre{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 15px;
    font-size: .875rem;
}*/

.main__part2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* border:2px solid rgb(77, 41, 167); */
    width:100%;
}

.main__part2__titre{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* border:5px solid red; */
    width:auto;
    margin-top:15px;
}
/* .h2__titre{
    border:5px solid rgb(3, 2, 2);
} */

.line__red{
    display: inline-block;
    width: 26px;
    height: 1px;
    margin: 0;
    margin-right: 0px;
    margin-right: 1.5rem;
    background-color: #eb595b;
    border: solid #eb595b .125rem;
    border-radius: 4px;
}
.h2__titre__maj{
    text-transform: uppercase;
    letter-spacing: .2875rem;
}
.h2__content{
    display: block;
    padding-top: .375rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
}



.main__part2__chevron__slide{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    /* border:5px solid rgb(3, 2, 2); */
}

.fa-circle-chevron-left, .fa-circle-chevron-right{
    color:#eb595b;
    font-size:30px;
    margin-right: 15px;
}

.main__part2__slide__slide__desktop{
    display:none;
}

.main__part2__content{
    display: grid;
    grid-template-columns: 100%;
    /* border : 10px solid black; */
}
.main__part2__slide{
    height: auto;
    width: auto;
    margin-top:40px;
    /* border : 5px solid red; */
}
.actua{
    width:auto;
    /* border:5px  solid green; */
}
.actua__01__img{
    width: 100%;
    padding-bottom: 70px;
}
.actua__tag{

    width:fit-content;  
    background-color:#4d64b3;
    color:white; 
    padding: .9375rem .9375rem;
    margin-right: 1.25rem;
    margin-top:1rem;
    margin-bottom: 2.125rem;
    font-size: .6875rem;
    text-transform: uppercase;
    letter-spacing: .10625rem;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;   
}
.actua__title{
    margin-bottom: .875rem;
    padding-right:.875rem;
    font-size: 1.375rem;
    color: #4d64b3;
    font-family: "NeuePlak-Bold",sans-serif;
    font-weight: 700;
}
.actua__teaser{
    margin-bottom: .875rem;
    padding-right:.875rem;
    font-size: 1.375rem;
    color: #4d64b3;
    font-family: "NeuePlak-Bold",sans-serif;
    font-weight: 700;      
}

.actua__teaser span {
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 1.875rem;
}

.main__part2__footer{
    display:grid;
    grid-column: span 3;
    width:100%;
    margin-bottom:30px;
    margin-top:30px;
    text-align: center;
}
.btn__main {
    margin-top:15px;
    background-color: #fff;
    border-radius: 25px;
    padding:5px 15px 5px 15px;
    width:fit-content;
}
.mention{
    /* Pour aligner le before avec le texte : faire display flex */
    display:flex;
    align-items: center;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .6875rem;
    letter-spacing: .0875rem;
    font-weight: 700;
}
.btn__main:hover{
    background-color: #eb595b;    
}
.mention:hover{
    color:#fff;
}
.mention::before{
    display: block;
    width: 10px;
    margin-right: 20px;
    content: ">";
    color: #eb595b;
}
.mention::before:hover{
    display: block;
    width: 10px;
    margin-right: 20px;
    content: ">";
    color: #fff;
}


/*--------------- part Map */
.container__map{
    display:flex;
    flex-direction: column;
}
.map{
    width:100%;
}
.map__text{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-left:25px
}
.map__text__texte .annonce{
    line-height: 1.875rem;
}

.map__text__texte .intro{
    margin-bottom: 1.875rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
    font-family: "NeuePlak-SemiBold",sans-serif;
    font-weight: 600;
}
.mention_circle{
    /* Pour aligner le before avec le texte : faire display flex */
    display:flex;
    align-items: center;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .6875rem;
    letter-spacing: .0875rem;
    font-weight: 700;
}
.mention_circle:hover{
    color:#fff;
}
.mention_circle::before{
    display: block;
    width: 10px;
    margin-right: 20px;
    content: url('/images/circle-chevron-right-solid.svg');
    color: #eb595b;
}
.mention_circle::before:hover{
    display: block;
    width: 10px;
    margin-right: 20px;
    content: url('/images/circle-chevron-right-solid.svg');
    color: #fff;
}



#Map-Adour{
    /* svg repris du site de l'Agence */
    width:100%;
}
.cls-1, .cls-2 {fill: none;
}
.cls-1 {
    stroke: url('#Dégradé_sans_nom');
}
.cls-2 {
    stroke: url('#Dégradé_sans_nom_2');
}
.cls-3, .cls-4, .cls-6 {
    fill: #fff;
}
.cls-3, .cls-6 {
    stroke: #aaa;
}
.cls-5 {
    fill: #eb595b;
}
.cls-6 {
    fill-rule: evenodd;
}
.cls-7 {
    fill: #7eb0d3;
}
#bassins_area{
    cursor: pointer;
}
#bassins_area g{
    outline: none !important;
}
#bassinMap_13_selected .cls-3{
    fill:#4d64b3;
}
#bassinMap_13_selected .texts{
    fill:#fff;
}
/*--------------- part Inscription */
.inscription{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top:30px;
    margin-bottom:30px;
}
.inscription__titre{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.inscription__para{
    margin-top:30px;
}
.inscription__separateur{
    display:flex;
    justify-content:flex-start;
}
.inscription__separateur span{
    content:'';
    width:75%;
    border-top: 6px solid #eb595b;
    width:75%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.btn__main__inv {
    margin-top:15px;
    background-color: #eb595b;
    border-radius: 25px;
    padding:5px 15px 5px 15px;
    width:35%;
}
.mention__inv{
    color:#fff;
    font-size: larger;
    text-decoration: none;
}
.btn__main__inv:hover{
    background-color: #fff;    
}
.mention__inv:hover{
    color:#eb595b;
}





/* -------------- Footer ------------ */
footer {
    display:flex;   
    flex-direction: column;
    justify-content:space-between;
    background:#4d64b3;
    width:95%;
    color:#fff;
}
.footer__top{
    display:flex;
    flex-direction: column;
}
.footer__left{
    display:flex;   
    flex-direction: column;
    text-align: center;
    font-size: 1.125rem;
    font-family: "NeuePlak-Bold",sans-serif;
    padding-bottom:32px;    
}

.footer__logo__aeag{
    width:50%;
    padding-bottom:16px;
}

.footer__left__slogan {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}

.footer__logo p{
    margin-bottom: 2rem;
    font-size: .75rem;
}

.footer__right{
    display:flex;   
    flex-direction: column;
}

.pied_droite_gauche .row{
    display:flex;
}







/* ---------------------------------------- MEDIA QUERIES ----------------------------- */
@media (min-width: 480px) and (max-width:950px){
    .logo__aeag{
        width:inherit;
        height: inherit;
    }

    .navigation__menu__haut{
        display:none;
    }
    .header__right__primary__menu{
        display:none;
    }
    .header__right__menu__detail__bas{
        display:none;
    }
    .image__slider__accueil{   
        width: 28.875rem;
        height: 25rem;
        margin-left: 15px;
        margin-right: 15px;
    }

    .container__slider__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        max-width: 350px;
    }
    .container__slider__info p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #fff;
        font-family: "NeuePlak-Bold",sans-serif;
        font-weight: 700;
    }
    .surtitre{
        font-size: .75rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .15rem;
        font-family: "Open Sans",sans-serif;
        font-weight: 600;
    }
    .main__part2__content{
        display: grid;
        grid-template-columns: 33% 67%;
        /* justify-content: flex-start; */
        /* border : 10px solid black; */
    }
    .main__part2__slide{
        height: auto;
        width: auto;
        margin-top:40px;
        /* border : 5px solid red; */
    }
    .actua{
        width:auto;
        /* border:5px  solid green; */
    }
    .actua__img{
        display: flex;
        flex-direction: column;
        height:10rem;
        width:12rem;
        text-align: center;
    }

    .actua__01__img{
        width:100%;
        max-width: min-content;
        padding-bottom: 70px;
    }
    .actua__tag{
        width:fit-content;  
        background-color:#4d64b3;
        color:white; 
        padding: .9375rem .9375rem;
        margin-right: 1.25rem;
        margin-top:1rem;
        margin-bottom: 2.125rem;
        font-size: .6875rem;
        text-transform: uppercase;
        letter-spacing: .10625rem;
        font-family: "Open Sans",sans-serif;
        font-weight: 700;   
    }
    .actua__title{
        margin-bottom: .875rem;
        padding-right:.875rem;
        font-size: 1.375rem;
        color: #4d64b3;
        font-family: "NeuePlak-Bold",sans-serif;
        font-weight: 700;
    }
    .actua__teaser{
        margin-bottom: .875rem;
        padding-right:.875rem;
        font-size: 1rem;
        color: #4d64b3;
        font-family: "NeuePlak-Bold",sans-serif;
        font-weight: 700;      
    }

    .actua__teaser span {
        color: #000;
        font-family: "Open Sans",sans-serif;
        font-weight: 400;
        line-height: 1.875rem;
    }

    .main__part2__slide__slide__desktop{     
        display: flex; 
        height: auto;
        width: auto;
        margin-top:40px;
        /* border:5px solid red;      */
    }
    .actua__02__img{
        height: 10rem;
        margin:0 auto;
    }
    
    .actua__03__img{
        width: auto;
        height: 10rem;
    }
    /* --------------  Part 3 : La map*/
    .container__map{
        display:flex;
        flex-direction: row;
    }
    .map {
        margin:15px 15px 0 0 ;
    }
    .map__text{
        margin:15px 0 0 0;
    }

    /* -------------- Footer ------------ */
    .footer {
        display:flex;   
        flex-direction: column;
        justify-content:space-between;
        background:#4d64b3;
        width:95%;
    }
    .footer__top{
        display:flex;
        flex-direction: row;
    }

    .footer__left{
        display:flex;   
        flex-direction: column;
    }

    .footer__right{
        display:flex;   
    }
    .pied_droite_gauche .row{
        display:flex;
    }
}


@media(min-width: 950px){ /* Au delà de 950px */

    /* ----------- >>> DEBUT menu de droite haut ------------- */
    .logo__aeag{
        width:inherit;
        height: inherit;
    }
    .header__right{
        display:flex;
        flex-direction:column;
    }
    .header__rigth__logo__menu{
        display:none;
    }
    .header__right__contrast{
        justify-content: flex-start ;
    }

    .header__right__haut__search__mobile{ /* la loupe disparait du menu haut en version desktop*/
        display:none;
    }
    /*Barre navigation haut*/ 
    .header__right__menu__detail__haut{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        border-bottom:1px solid grey;
        padding-bottom: 10px;
    }
    .navigation__menu__haut{
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        font-variant: small-caps;
        
    }
    .acces__rapides__haut{
        width:100%;
    }

    .acces__rapides__haut span{
        color: rgb(72, 63, 63);
    }
    .acces__rapides__haut span:hover{
        color: rgb(0, 0, 0);
    }

    .acces__rapides__haut__list{
        display: flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
        /* border: 5px solid royalblue; */
    }
    .fa-newspaper{
        color:red;
        width: 22px;
        height:22px;
    }

    .fa-calendar-days{
        color:red;
        width: 22px;
        height:22px;
    }
    .fa-network-wired{
        color:red;
        width: 22px;
        height:22px;
    }

    .first__level__haut{
        display: flex;
        justify-content: center;
        border-left: 0.0625rem solid grey;
        padding:0.5rem .675rem 0 .675rem;
    }

    .first__level__haut ul li {
        text-align: center;
    }
    .first__level__haut a{
        text-decoration: none;
    }

    .btn__odyssee{
        padding: .35rem .7125rem;
        font-size: .6875rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .0875rem;
        cursor: pointer;
        background-color: #4d64b3;
        border: 1px solid #4d64b3;
        border-radius: 29px;
        outline: none;
    }
    .btn__odyssee:hover{
        background-color: rgb(183, 173, 173);
        border: 1px solid rgb(183, 173, 173);
    }
    .btn_service{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: .0875rem;
        cursor: pointer;
        background-color: #eb595b;
        border: 1px solid #eb595b;
        border-radius: 29px;
        outline: none;
    }
    .btn_service:hover{
        color: #eb595b;
        text-transform: uppercase;
        letter-spacing: .0875rem;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 29px;
    }



    /* --------------- FIN menu de droite haut*/

    /* ----------- >>> DEBUT menu de droite bas ------------- */

    /*Barre navigation bas*/
    .header__right__menu__detail__bas{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        /* border:2px solid red; */
        width:100%
    }
    /*-- > détail du menu */
    .header__right__primary__menu{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        /* border:2px solid black; */
        width: 100%;
    }   
    .header__right__primary__menu span{
        color: black;
        padding:0 5px;
    }

    .acces__rapides{
        display:flex;
        flex-direction: row;  
        justify-content: flex-end; 
    }
    .acces__rapides__list{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }
    .first__level{
        text-align: center;
        width:20%;
    }
    .first__level a {
        text-decoration: none;
    }
    .first__level a span {
        color:#4d64b3;
    }
    .first__level a span:active {
        color: rgb(0, 0, 0);
    }

    /* --------------- FIN menu de droite bas*/


    /* ---------------- Slider */

    .container__slider{
        display: flex;
        flex-direction: row;
        max-width: max-content;
    }
    .container__slider__info{
        width: 40%;
        max-width: inherit;
        margin-top: 1.875rem;
        margin-left: 0;
        text-align: left;
    }

    .image__slider__accueil{   
        width: 28.875rem;
        height: 25rem;
        margin-left: 15px;
        margin-right: 15px;
    }
   

    .container__slider__info p {
        font-size: 2.125rem;
        line-height: 2.5rem;
        color: #fff;
        font-family: "NeuePlak-Bold",sans-serif;
        font-weight: 700;
    }


    

    /*--------------  main part2 Actualité */

    .line__red{
        width: 40px;
    }
    .h2__content{
        display: block;
        padding-top: 1.5rem;
        font-size: 3.5rem;
        line-height: 2.25rem;
    }
    .main__part2__content{
        display: grid;
        grid-template-columns: 33% 67%;
        /* justify-content: flex-start; */
        /* border : 10px solid black; */
    }
    .main__part2__slide{
        height: auto;
        width: auto;
        margin-top:40px;
        /* border : 5px solid red; */
    }
    .actua{
        width:auto;
        height:auto;
        /* border:5px solid green; */
    }
    .actua__img{
        display: flex;
        flex-direction: column;
        height:10rem;
        width:12rem;
        text-align: center;
    }
    .actua__01__img{
        width: 100%;
        padding-bottom: 70px;
        margin :0 auto;
    }

    .actua__tag{

        width:fit-content;  
        background-color:#4d64b3;
        color:white; 
        padding: .9375rem .9375rem;
        margin-right: 1.25rem;
        margin-top:1rem;
        margin-bottom: 2.125rem;
        font-size: .6875rem;
        text-transform: uppercase;
        letter-spacing: .10625rem;
        font-family: "Open Sans",sans-serif;
        font-weight: 700;   
    }
    .actua__title{
        margin-bottom: .875rem;
        padding-right:.875rem;
        font-size: 1.375rem;
        color: #4d64b3;
        font-family: "NeuePlak-Bold",sans-serif;
        font-weight: 700;
    }
    .actua__teaser{
        margin-bottom: .875rem;
        padding-right:.875rem;
        font-size: 1.375rem;
        color: #4d64b3;
        font-family: "NeuePlak-Bold",sans-serif;
        font-weight: 700;      
    }

    .actua__teaser span {
        color: #000;
        font-family: "Open Sans",sans-serif;
        font-weight: 400;
        line-height: 1.875rem;
    }


    .main__part2__slide__slide__desktop{     
        display: flex; 
        height: auto;
        width: auto;
        margin-top:40px;
        /* border:1px solid red;  */    
    }
    .actua__02__img{
        height: 10rem;
        margin:0 auto;
    }
    
    .actua__03__img{
        width: auto;
        height: 10rem;
    }

    /* --------------  Part 3 : La map*/
    .container__map{
        display:flex;
        flex-direction: row;
    }
    .map {
        margin:15px 15px 0 0 ;
    }
    .map__text{
        margin:15px 0 0 0;
    }

    /* -------------- Footer ------------ */
    .footer {
        display:flex;   
        flex-direction: column;
        justify-content:space-between;
        background:#4d64b3;
        width:95%;
    }
    .footer__top{
        display:flex;
        flex-direction: row;
    }

    .footer__left{
        display:flex;   
        flex-direction: column;
    }

    .footer__right{
        display:flex;   
    }
    .pied_droite_gauche .row{
        display:flex;
    }

}
